<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="GatoBean" class="com.abi.bean.Gato"></bean>
	
	<bean id="PerroBean" class="com.abi.bean.Perro">
		<property name="nombre" value="Solovino"></property>
	</bean>
	
</beans>
