<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--Persona PersonaBean = new Persona  -->	
	<bean id="PersonaBean" class="com.abi.bean.Persona">
		<!-- persona.setNombre("abi") --> 
		<property name="nombre" value="abi"></property>
		<property name="edad" value="31"></property>
		<property name="estatura" value="1.62"></property>
	</bean>
	
</beans>